[submodule "apps/quickshell/apps/quickshell/overview"]
	path = apps/quickshell/apps/quickshell/overview
	url = https://github.com/Shanu-Kumawat/quickshell-overview
[submodule "apps/quickshell/overview"]
	path = apps/quickshell/overview
	url = https://github.com/Shanu-Kumawat/quickshell-overview
