/*                       _
    __      ____ _ _   _| |__   __ _ _ __
    \ \ /\ / / _` | | | | '_ \ / _` | '__|
     \ V  V / (_| | |_| | |_) | (_| | |
      \_/\_/ \__,_|\__, |_.__/ \__,_|_|
                   |___/ CSS
*/


/*  COLORS  ------------------------------ */

@import url("file:///home/cjweidman/.cache/wal/colors-waybar.css");

/*  GLOBAL  ------------------------------ */

* {
	font-family: "JetBrainsMono Nerd Font";
	font-size: 15px;
	transition: all 0.15s ease;
	font-weight: 500;
	border-radius: 0px
}

window#waybar {
    border: 1px solid #d7d7d7;
	background: @background;
}

label.module {
	color: #d7d7d7;
}

/*  POWER GROUP  ------------------------- */

#powergroup {
	padding: 8px 13px 8px 12px;
	background: #ed3d22;
}


#powergroup #custom-arch {
	margin: 0px 5px 0px 0px;
	font-size: 18px;
	color: #000000;
}

#powergroup .power-children label {
	margin: 0px 5px 0px 20px;
	color: #000000;
}

#powergroup #custom-arch,
#powergroup #custom-power,
#powergroup #custom-restart,
#powergroup #custom-lock,
#powergroup #custom-logout {
  color: #000000;
}


/*  WORKSPACES  -------------------------- */

#workspaces {

}

#workspaces button {
	background: transparent;
	padding: 1px 6px;
	border-right: 1px solid #d7d7d7;
}

#workspaces button label {
	color: #d7d7d7;
	font-size: 18px;
	font-weight: 300;
	letter-spacing: -3px;
}

#workspaces button.empty label {
	color: #d7d7d7;
}

#workspaces button.active label {
	color: #ed3d22;
}

/*  CPU & RAM GROUP  --------------------------- */

#cpugroup {
	padding: 0px 10px;
	border-right: 1px solid #d7d7d7;
}

#memorygroup, #diskgroup {
	padding: 0px 10px;
	border-right: 1px solid #d7d7d7;
}

#custom-cpu, #custom-end, #custom-memory, #custom-network, #custom-user, #custom-volume, #custom-disk {
	color: #d7d7d7;
}

/*  CLOCK  ------------------------------- */

#networkgroup {
	padding: 0px 10px;
	border-left: 1px solid #d7d7d7;
}

#usergroup {
	padding: 0px 10px;
	border-left: 1px solid #d7d7d7;
}

#network, #user, #wireplumber {
	color: #d7d7d7;
}

#clockgroup {
	padding: 0px 10px;
	border-right: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
}

#volumegroup {
	padding: 0px 10px;
}

#clock.date {
  color: #d7d7d7;
}
